<html>
    <head>
        <title>Cards</title>
        <link rel="stylesheet" href="node_modules/deck-of-cards/example/example.css">
        <link rel="stylesheet" href="public/app.css">
    </head>
    <body>
        <script src="node_modules/deck-of-cards/dist/deck.js"></script>
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="public/app_view.js"></script>

        
        <div id="players_table"></div>
        <div id="player_hand"></div>
        <div id="topbar"></div>
        <div id="game"></div>

        <script>
            var id_player = <%= player; %>;

            var $player_hand = document.getElementById('player_hand');
            var $topbar = document.getElementById('topbar');
            var $players = document.getElementById('players_table');
            var $game = document.getElementById('game');

            build_player_table($players);
            var game_deck = build_game($game);
            var player_deck = build_player_hand($player_hand, id_player);
            build_topbar($topbar, player_deck);

        </script>
    </body>
</html>