#toto {
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border: 1px solid #fff;
}

.player_name {
    position: absolute;
    display: inline-block;
    width: 140px;
}

#players_table  {
    position: fixed;
    top: 2.5rem;
    left: 0;
}

#players_table table {
    background-color: white;
    border-collapse: collapse;
}

#players_table th, td {
    text-align: left;
    padding: 8px;
}
  
#players_table tr:nth-child(even) {background-color: #f2f2f2;}

.current_turn {
    background-color: rgb(111, 167, 86) !important;
}

.selected {
    border: 2px solid #f0f;
}

.draw_select {
    border: 2px solid #f0f;
}

#topbar button:disabled {
    background-color: #dddddd;
}

#player_hand {
    position: fixed;
    top: 66%;
    left: 50%;
}
#game {
    position: fixed;
    top: 33%;
    left: 50%;
}

